@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap');

:root {
  --primary-color: #f9faf8;
  --secondary-color: #e5e7eB;
  --bg-dark: #1F2937;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}



a {
  text-decoration: none;
  color: var(--primary-color);
}

ul {
  list-style: none;
}


/* Utilities */
.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}

.btn {
  background-color: #3882f6;
  padding: 5px 25px;
  border-radius: 5px;
  margin: 5px 0;
}

.btn-border {
  border: 2px white solid;
}

/* text */
.primary-text {
  color: var(--primary-color);
  font-size: 48px;
  font-weight: 900;
}

.secondary-text {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.subtext {
  color: #505255;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin-bottom: 5px;
}

.logo-text {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 500;
}

.information-text {
  color: var(--bg-dark);
  font-size: 36px;
  font-weight: bold;
  margin: 40px;
}

.author-text {
  font-weight: bold;
  text-align: right;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  color: var(--bg-dark);
}


/* Header */
#main_header {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-dark);
}

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-dark);
  padding: 12px 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

.menu {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-content {
  display: flex;
  margin: 90px 0;
}

.header-main,
.placeholder {
  width: 50%;
}

.header-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 30px;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #505255;
}

/* Random information */
#information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcase {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
}

.card {
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.box {
  width: 110px;
  height: 110px;
  border: #3882f6 3px solid;
  border-radius: 12px;
  margin-bottom: 7px;
}

/* Quote section */
#quote-section {
  display: flex;
  background-color: var(--secondary-color);
}

.quote {
  display: flex;
  flex-direction: column;
  padding: 70px;
  margin: 90px 0;
}

/* registration section */
#registration {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #3882f6;
  border-radius: 5px;
  padding: 60px 20px;
  margin: 90px 0;
}